<label {{bindAttr for="emailInput.elementId"}}>{{label}}</label>
{{input placeholder=placeholder viewName="emailInput" value=value type="email" name="EMAIL"}}
<button type="submit">{{if isLoading loadingText buttonText}}</button>
<div class="chimp-says">{{chimpSays}}</div>
